.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 60px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1e1e1e; /* Dark mode background */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #90caf9; /* Light blue for dark mode */
}

/* Add these new styles for dark mode specific elements */
.dark-container {
  background-color: #121212;
  color: rgba(255, 255, 255, 0.87);
  min-height: 100%;
}

.dark-paper {
  background-color: #1e1e1e;
  padding: 1rem;
  border-radius: 4px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
